<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alteração de Dados</title>
</head>
<body>

<h1>Alteração de dados</h1>

<form th:action="@{/professores/{id}/edit(id=${professor.id})}" th:object="${professor}" method="POST">
    <input type="hidden" th:field=${professor.id}>

    <label for="nome">Nome:</label>
    <input th:field="${professor.nome}" type="text" id="nome" name="nome" maxlength=30 required><br><br>

    <label for="salario">Salário:</label>
    <input th:field="${professor.salario}" type="number" id="salario" name="salario" required><br><br>

    <label for="status">Status:</label>
    <select th:field="${professor.status}" id="status" name="status">
        <option value="ATIVO">ATIVO</option>
        <option value="INATIVO">INATIVO</option>
        <option value="APOSENTADO">APOSENTADO</option>
        <option value="AFASTADO">AFASTADO</option>
    </select><br><br>

    <input type="hidden" name="_method" value="put"/>
    <input type="submit" value="Salvar">
</form>

<div class="error"></div>
</body>
</html>